
$color_fuente: #000000 !default;
$color_fuente: #adff19;
$color_primario: #336699;
$fondo_primario: #000000;
$fuente_primaria: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$fuente_secundaria: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

body { p {
    color: $color_fuente;
    font-size: 15px;
}
    color: $color_fuente;
    font-size: 20px;
}

#destacado {
    display: block;
    background-color: $fondo_primario;
    font-size: 1.5rem;
    font-family: $fuente_primaria;
    font-weight: 700;
    margin-bottom: 0;
    text-align: center;
    align-items: center;
    padding: 1 rem;
}

.page-section h3.section-subheading, .page-section .section-subheading.h3 {
    font-size: 1rem;
    font-weight: 400;
    font-style: italic;
    font-family: $fuente_secundaria;
    margin-bottom: 4rem;
    background-color: $fondo_primario;
}

#portfolio {
font-size: 1.5rem;
font-family: $fuente_primaria;
font-weight: 700;
margin-bottom: 0;
}

.section-subheading {
    font-size: 1rem;
    font-weight: 400;
    font-style: italic;
    font-family: $fuente_secundaria;
    margin-bottom: 4rem;
}

section {
    color: $color_fuente;
    background-color: $fondo_primario;
    div {
    color: $color_fuente;
    background-color: $fondo_primario;
}
}