
$color_fuente: #000000 !default;
$color_fuente: #adff19;
$color_primario: #336699;
$fondo_primario: #000000;
$fuente_primaria: "Montserrat", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$fuente_secundaria: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";


.nav-link {
    display: block;
    padding: 0.5rem 1rem;
    color: #adff19;
    text-decoration: none;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}


/* Mixins */
@mixin fonts {
    font-size: 1.5rem;
    font-family: $fuente_primaria;
}
@mixin fonts1 {
    font-size: 1rem;
    font-family: $fuente_secundaria;
}

/* Maps */
$bwscale: (100: #ffffff, 200: #000000, 300:#adff19, 400:#336699, 500: #ffc800, 600: #6c757d, );





body { p {
    color: map-get($bwscale, 300);
    font-size: 15px;
}
    color: $color_fuente;
    font-size: 20px;
}

#destacado {
    display: block;
    background-color: $fondo_primario;
    @include fonts;
    font-weight: 700;
    margin-bottom: 0;
    text-align: center;
    align-items: center;
    padding: 1rem;
}

.page-section  {
    @include fonts1;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 4rem;
    background-color: map-get($bwscale, 200);
}

#portfolio {
@include fonts;
font-weight: 700;
margin-bottom: 0;
}

.section-subheading {
    @include fonts1;
    @extend .page-section;
}

section {
    color: $color_fuente;
    background-color: $fondo_primario;
    div {
    color: map-get($bwscale, 300);
    background-color: $fondo_primario;
}
}